*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(238, 213, 148);
    font-family: sans-serif;
}

h1{
    color:red;
    text-align: justify;
    padding: 7px;
    background-color: white;
}
h2{
    color: rgb(95, 152, 202);
    padding: 7px;

}

p{
    padding: 7px;

}